.dispositivos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 1025px;

  color: #000000;
  margin: 0 25px;
  z-index: 0;
  position: relative;
  padding-bottom: 80px;
}
.disp-navMenu {
  display: flex;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 600px;
  background-color: white;
  z-index: 10;
  bottom: 50px;
}
.disp-navMenu p {
  font-size: 21px;
  font-weight: bold;
}
.disp-navMenu-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  border-radius: 10px;
}
.dispositivos-title {
  display: flex;
  height: 50px;
  width: 600px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.dispositivos-title p {
  font-size: 16px;
  margin: 0 20px 0 5px;
}
.dispositivos-title-expanded {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;

  position: fixed;
  bottom: 0%;
  z-index: 10;
  background-color: #ffffff;
  padding: 20px 0 20px;
  opacity: 95%;
}
.dispositivos-title-le {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dispositivos-title-le-non {
  display: none;
}
.disp-navMenu-table {
  display: flex;
  flex-direction: column;
}
.disp-navMenu-table ul {
  display: flex;
  flex-direction: column;
}
.disp-navMenu-table ul li {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.disp-navMenu-table ul li div {
  display: flex;
  width: 485px;
  height: 55px;
  align-items: center;
  border-radius: 10px;
  background-color: #bababa;
  justify-content: space-between;
}
.disp-navMenu-table ul li div div {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  border-radius: 50px;
}

.disp-navMenu-table ul li div div div {
  background-color: #92d68c;
  display: none;
  width: 20px;
  height: 20px;
  margin-right: 0;
  border-radius: 50px;
}
.disp-navMenu-table ul li p {
  margin-left: 25px;
  font-size: 18px;
}
.dispositivos-title-expanded p {
  font-size: 16px;
  margin: 0 20px 0 5px;
}
.disp-table-legend-flag {
  width: 12px;
  height: 12px;
}
.disp-table {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  z-index: 0;
}
.disp-table-header-row,
.disp-table-row {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 42px;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
}
.disp-table-header-row {
  border-bottom: solid #000000 2px;
  margin-bottom: 8px;
}
.disp-table-header-id,
.disp-table-header-pot,
.disp-table-header-cur,
.disp-table-header-des,
.disp-table-header-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;

  border-left: solid #8b8b8b 1px;
  border-top: solid #8b8b8b 1px;
  border-bottom: solid #8b8b8b 1px;
}
.disp-table-header-des,
.disp-table-header-flag {
  box-shadow: inset 10px 10px 6px -9px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-right: solid #8b8b8b 1px;
}
.disp-table-header-flag {
  border: solid #8b8b8b 1px;
  margin-left: 2px;
}

.disp-table-header-des {
  background-color: white;
}
.disp-table-header-id1,
.disp-table-header-pot1,
.disp-table-header-cur1,
.disp-table-header-des1,
.disp-table-header-flag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 0 0 0 3px;
}
.disp-table-header-id,
.disp-table-header-id1 {
  width: 25px;
}
.disp-table-header-pot,
.disp-table-header-pot1 {
  width: 90px;
}
.disp-table-header-cur,
.disp-table-header-cur1 {
  width: 90px;
}
.disp-table-header-des,
.disp-table-header-des1 {
  width: 280px;
}
.disp-table-header-des {
  text-align: center;
  font-size: 18px;
}
.disp-table-header-flag,
.disp-table-header-flag1 {
  width: 25px;
  background-color: none;
}

.disp-tile-device {
  font-weight: bold;
}
