.painel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 185px 185px 185px 185px;
  column-gap: 25px;
  width: 600px;
  height: auto;
  color: #ffffff;
  margin: 25px 25px;
  z-index: 0;
  position: relative;
}
