svg {
  fill: white;
  height: 24px;
  width: 24px;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 600px;
  background-color: #272d2d;
  border-bottom: 1px solid #5aaa95;
  position: fixed;
  z-index: 10;
}
.topBarTitle {
  display: flex;
  color: #edf5fc;
}
.menu-icon {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 30px;
  background-color: #272d2d;
  border: 0;
  height: 38px;
  width: 38px;
  border-radius: 6px;
}
.menu-icon:hover {
  background-color: #5aaa95;
}
.menu-icon svg {
  fill: #edf5fc;
}
.dropMenu {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 200px;
  position: absolute;
  top: 64px;
  background-color: #272d2d;
  border-radius: 0 0 0 10px;
  border-left: 1px solid #48cae4;
  border-bottom: 1px solid #48cae4;
  right: -100%;
}
.dropMenu ul {
  display: flex;
  flex-direction: column;
}
.dropMenu li {
  display: flex;
  list-style: none;
  padding: 10px 15px;
  align-items: center;
  font-size: 20px;
  font-weight: 5px;
  color: #edf5fc;
  border-radius: 10px;
  user-select: none;
}
.dropMenu li:hover {
  background-color: #5aaa95;
}
.dropMenu.show {
  right: 0%;
}
.dropMenuIcon {
  padding: 0 10px 0 0;
}
